@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("../fonts/Open_Sans/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldc.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalicc.ttf") format("truetype");
}
body {
  background-color: #f5f5f5;
  /* background-color: #fff; */
  font-family: "OpenSans-Regular";
  font-size: 14px;

}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
dl,
ol,
ul {
  margin-top: 0;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}
img {
  max-width: 100%;
}
#sidebar-admin > div:not(:last-child) {
  margin-bottom: 4px;
  /* border-bottom: 1px solid #dedede; */
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.card.sidebar-card-category.rounded-0 {}
#sidebar-admin .current-user-button-toggle {
  width: 100%;
  color: #333;
  align-items: center;
  z-index: 999999;
}
#sidebar-admin .current-user-name {
  width: 100%;
  /* font-size: 20px; */
  font-weight: bolder;
}
#sidebar-admin .dropdown-menu.show {
  /* display: flex; */
  /* transform: unset !important; */
  top: 100% !important;
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
  /* border-top: 1px solid rgb(33 35 38 / 4%); */
  /* border-left: none; */
  /* border-right: none; */
  opacity: 1;
  /* border-bottom: none; */
  /* transform: none !important; */
  top: 0;
  /* z-index: 99; */
  pointer-events: all;
}
#sidebar-admin .card-header > h5 > a {
  color: #333;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 17px;
  padding: 10px 15px;
  /* text-shadow: 0px 1px 1px #282828; */
}
#sidebar-admin a:hover {
  text-decoration: none !important;
}
#sidebar-admin .fa-caret-square-down {
  transform: rotate(-90deg);
  transition: all 1s;
}
#sidebar-admin .collapsed .fa-caret-square-down {
  transform: rotate(0);
}
#sidebar-admin .card-body {
  padding: 5px 25px;
}
#sidebar-admin .card-body a {
  font-size: 15px;
}
.none-clearfix:after {
  content: "";
}
.user_login {
  display: block;
  margin: 0 auto;
}
.nav_left ul {
  padding: 0;
  list-style-type: none;
  /* collapse transition start */
}
.collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
  /* collapse transition end */
}
.btn-dark-custom {
  min-width: 100%;
}
.nav_left_childx2 {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
  background: #fff;
}
.panel-body-ad {
  min-height: 500px;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
  background: #fff;
  justify-content: space-between;
}
.nav_left_childx2 {
  padding: 0;
  border-radius: 5px;
}
.nav_left_childx2 li a {
  text-decoration: none;
  color: #343a40;
}
ul.nav_left_childx2 li a {
  display: block;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  position: relative;
}
ul.nav_left_childx2 li:hover a {
  background: #343a40;
  color: #fff;
}
.panel-body-ad > .title {
  padding-left: 10px;
  background: #343a40;
  box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.18);
}
.panel-body-ad > .title span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 3px;
}
.admin_current_box .heading {
  text-align: center;
}
.admin_current_box .heading .user_name {
  font-size: 18px;
  font-weight: 500;
}
.admin_current_box .thumb img {
  height: 100px;
}
.admin_current_box {
  box-shadow: 0px 0.2px 1px 0.2px rgba(0, 0, 0, 0.73);
  padding-bottom: 10px;
  padding-top: 10px;
}
.thumb_avatar img {
  height: 160px;
  width: auto;
}
.btn-dark-custom:hover,
.btn-dark-custom:focus,
.btn-dark-custom:active {
  box-shadow: none;
}
.form-box {
  padding: 3px 0px;
  display: block;
  margin: 0 auto;
}
.form-box label {
  font-weight: 700px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
table.table_custom_admin {
  width: 100%;
  height: 10;
  /* padding: 0px 8px; */
}
table.table_custom_admin thead {
  background-color: #343a40;
  color: white;
  text-align: center;
}
table.table_custom_admin thead td {
  padding: 10px 0px;
}
table.table_custom_admin tbody td {
  text-align: center;
}
.login-admin-view {
  background-image: url("../image/lifesaver-background.jpg");
  background-repeat: round;
  /* width: 100%; */
  min-height: 500px;
  background-repeat: no-repeat;
  /* background: url(mountain.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: 300px 100px; */
  /* display: flex; */
  background-size: cover;
  position: relative;
}
.user_login input {
  color: #fff;
  width: 350px;
  display: block;
  margin: 0 auto;
  /* border-image-source: linear-gradient(0deg,#12c2e9 0%, #c471ed 27%, #f64f59 100%); */
  background: #1d21241f !important;
  border-image-slice: 1;
  border: transparent;
  transition: all 500ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.login-admin-view:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  background: #333;
  opacity: 0.3;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.user_login input:focus {
  background: transparent;
}
.user_login input:focus {
  background: #757575 70;
  outline: none;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: #fff !important;
}
.user_login input:active {
  outline: none;
  border: none;
}
.title-login {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 30px;
  margin-bottom: 35px;
  font-weight: bolder;
  font-size: 30px;
  /* font: caption; */
  background: -webkit-linear-gradient(4deg, #00d0ff, #c2ebda 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span.telephone-support {
  font-size: 30px;
  color: #fff;
  text-shadow: 3px 4px 7px #000;
  font-style: oblique;
  letter-spacing: 5px;
}
span.info-version-page {
  font-size: 13px;
  font-style: oblique;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 3px 4px 7px #000;
}
.user_login input::placeholder {
  color: #fff !important;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 11px;
  font-weight: 700;
}
.user_login input::-webkit-input-placeholder {
  color: #fff !important;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 11px;
  font-weight: 700;
}
.user_login input:-ms-input-placeholder {
  color: #fff !important;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 11px;
  font-weight: 700;
}
.not-focusable:focus,
.not-focusable:active {
  outline: none;
  box-shadow: none;
}
.btn-gradient {
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 50% !important;
  width: 30px inherit;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
.btn-gradient {
  border: none !important;
}
.btn-gradient:hover {
  background: radial-gradient(#355c7d, #6c5b7b);
}
.btn-gradient:hover i {
  transform: rotate(360deg);
}
.btn-gradient i {
  transition: all 1s;
}
.sidebar-admin {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.sidebar-card-category,
.sidebar-card-category .card-header {
  border: none;
  background: #fff;
}
.sidebar-card-category,
.sidebar-card-category .card-header {
  border: none;
  padding: 0;
}
.col-panel-left-admin {
  width: 280px;
}
.col-panel-right-admin {
  width: calc(100% - 285px);
  display: block;
  margin-left: auto;
  overflow: hidden;
}
div#sidebar-admin {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fff;
  left: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
}
.fixed-fuction-expand {
  position: fixed;
  right: 10px;
  bottom: 15px;
  display: flex;
  flex-direction: row;
}
.collapsing {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.collapsing {
  -webkit-transition: none;
  transition: none;
}
.card.sidebar-card-category .card-body.active {
  background: linear-gradient(#4f60790d, #5252521c);
}
.function-toggle {
  transform: translateX(200%);
  transform-origin: center center;
  opacity: 0;
  transition: all 1s;
  position: relative;
}
.function-toggle.active {
    transform: translateX(0px);
    opacity: 1;
  }
  table.table_custom_admin tr:nth-child(even) {
    background: rgba(0, 0, 0, .075);
}
.form-box .form-group {
    margin: 0;
}ul.pagination.pagination-custom .page-item.active a {
    background: #333;
    border-color: #333;
    color: white;
}

ul.pagination.pagination-custom .page-item a:focus {outline: none;box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}

ul.pagination.pagination-custom .page-item a {
    color: #333;
}

ul.pagination.pagination-custom .page-item a .fas {
    color: #333;
    font-weight: 500;
}

ul.pagination.pagination-custom .page-item.disabled a .fas {
    color: #ccc;
}
.card.sidebar-card-category .card-header > h5 > a.active {
    background: linear-gradient(#4f60790d, #5252521c);
}
.graphic-left{
  width: 80%;
}
.graphic-right{
  width: calc(20% - 5px);
  display: block;
  margin-left: auto;
}
.position-graphic .sortable > div{/* float:left; *//* white-space: nowrap; */height: 50px !important;width: 32% !important;display: flex;justify-content: c;display: flex;flex-direction: column;position: relative;}
.graphic-card .sortable {
    border: 1px solid #dedede;
    padding: 10px;
    background: #fff;
    min-height: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* margin-top: 10px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: center; */
}
.graphic-card .graphic-card-head {
  background: #333;
  color: white;
  padding: 5px;
  font-size: ;
}
.menu-right {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: white;
    border: 1px solid #dedede;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.menu-right-head > div:first-child {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 3px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.menu-right-head > div:first-child:after {
    position: absolute;
    content: '';
    width: 70%;
    /* left: 50%; */
    /* right: auto; */
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    bottom: 0;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* text-align: center; */
    /* margin: 0px calc(100% - 25px); */
}
.draggable-category {
    /* transition: all 500ms; */
    padding: 5px;
    background: white;
    margin: 5px 5px;
    border: none;
    border-radius: 1px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    color: #333;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    /* max-width: 100%; */
    /* width: 100%; */
}
.position-graphic .sortable > span {
    width: 100%;
}

.sortable .draggable-category > span {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: fle;
    padding: 0px 15px;
}
.draggable-category > div span {
    display: flex;
    margin-left: auto;
    width: 100%;
}

.menu-right .draggable-category > span {display: flex;justify-content: flex-start;width: 100%;}

.menu-right .draggable-category-tool-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sortable .draggable-category > div {
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    /* position: relative; */
}
.menu-right-draggable {
    min-height: 350px;
    max-height: 350px;
    overflow: auto;
    transition: all 500ms;

}
.filter-loading {/* background: rgb(0,0,255); */position: relative;/* background: currentColor; */overflow: hidden;}

.filter-loading > div {
    opacity: 0;
}

.filter-loading:before {
    position: absolute;
    content: '\f110';
    font-family: 'Font Awesome 5 Pro';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 35px;
    transform: rotate(0);
    opacity:0.3;
    transform-origin: center center;
    animation-name: loading;
    -webkit-animation-name: loading;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
@keyframes loading {
  from {    transform: rotate(0);
  opacity:0.7;
  }
  to {    transform: rotate(360deg);
    opacity:1;
  }

}
.avatar__menuLeft img {
  /* width: inherit; */
  /* height: 100%; */
  border-radius: 50%;
}

.avatar__menuLeft {
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
#sidebar-admin .dropdown-menu {
  display: flex !important;
  opacity: 0;
  pointer-events: none;
  transform: unset !important;
  transition: all 1000ms;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-top: 1px solid rgb(33 35 38 / 4%);
  border-left: none;
  border-right: none;
  border-bottom: none;
  top: 30px;
}
.position-graphic .draggable-category-tool-box > a:last-child {
  position: absolute;
  right: 5px;
  top: 0px;
  /* color: red; */
}.draggable-category-tool-box > a:last-child i {
  color: red;
  font-size: 21px;
  opacity: 1;
}
.color--default1{
color: #333;
}