body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
dl, ol, ul {
    margin-top: 0;
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}
/*.nav-bar {
    list-style-type: none;
    text-align: center;
}

ul.nav-bar li {
    padding: 0px 25px 0px 0px;
    display: inline-block;
    position: relative;
}

.nav-bar li a {
    text-decoration: none;
    color: #555555;
}

.nav-bar {
    color: #555555;
}

.nav-bar li:hover > ul.dropdown-custom {
    display: block;
}

ul.dropdown-custom {
    position: absolute;
    padding: 0;
    margin-left: -50px;
    display: block;
    background: #5555551c;
    box-shadow: 0px 1px 2px #80808078;
}

ul.dropdown-custom li {
    display: block;
    padding: 5px 0px 10px 5px;  
    min-width: 160px;
    text-align: center;
    float: none;
}

.nav-bar li:hover > ul.dropdown-custom {
    display: block;
}
*/
.dropdown-sub-custom > ul.dropdown-custom {
    left: 131%;
    margin-top: -23px;
    display: none;
}

.dropdown-sub-custom:hover > .dropdown-custom {
    display: block;
}

.product-item-image img {
    height: 100%;
    max-height: 250px;
    max-height: auto;
    width: 100%;
}

.product-item-heading .title {
    font-size: 15px;
    font-weight: bold;
}

.product-item-heading .description {
    text-align: justify;
    width: auto;
}

.product-item-image {
    position: relative;
    overflow: hidden;
}

.icon-hover {

    /* display: flex; */
    position: absolute;
    left: 50;
    text-align: center;    /* text-align: justify; */
    justify-content: center;
    right: 0;
    bottom: 0;
    top: 25%;   /* background:#999999;*/

    /* transform: translate(50%, 0%); */
    opacity: 0;    /* transition: all 1.3s; */
    width: 100%;    /* transform: translate(-50%, -50%); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 50%;
    transition: 1s;
}

.product-item-image:hover > .icon-hover {
    opacity: 1;
    transform: scale(2);
    background: #9999997a;
}
nav.nav-bar-main > ul {
    list-style: none;
    display: flex;
    line-height: 70px;
}
nav.nav-bar-main > ul > li {
    flex-grow: 1;
    text-align: center;
    position: relative;
}
nav.nav-bar-main > ul > li:not(.logo) {
    background: #fd79a8;
}
nav.nav-bar-main > ul > li.logo > img{
    max-height: 70px;
    
}
nav.nav-bar-main > ul > li > a{
    display: block;
    width: 100%;
}
nav.nav-bar-main > ul > li:hover > a {
    background: #2f3542;
    color: white;
    text-decoration: none;
}
ul.dropdown-main {
    opacity: 0;
    box-shadow: -1px 2px 2px 0px #dedede;
    position: fixed;
    width: 10%;
    list-style: none;
    left: 0;
    display: flex;
    background: #f8f8f8;
    color: #333;
    left: 50%;
    transform: translate(-50%, 0);
        transition: 0s;
}
ul.dropdown-main > li {
        flex: 1 0 auto;
    
}
nav.nav-bar-main > ul > li:hover > ul.dropdown-main {
    opacity: 1;
    transition: 0.8s ;
    width: 90%;
}


        